@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}
#root {
  background: rgb(204, 204, 204);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(211, 211, 211);
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 6rem;
  color: white;
  background: rgb(49, 49, 49);
  width: 100%;
}

h1 {
  font-size: 3rem;
}

.personalInfo {
  display: flex;
  flex-direction: column;
}

.cvForm {
  width: 50%;
  padding: 2rem;
  margin-top: 2rem;
  background: rgb(231, 231, 231);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 20px 2px rgb(145, 145, 145);
}

.personalInfo > textarea {
  resize: none;
  height: 3rem;
  text-align: left;
}

button {
  background: rgb(49, 49, 49);
  color: white;
  border: none;
  margin: 0.2rem 0;
  height: 2rem;
  border-radius: 0.25rem;
}

/* ********************

Content / Resume Preview

********************** */

#resume {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 1200px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 2px rgb(145, 145, 145);
  margin: 2rem;
}

#resume p {
  font-size: 1rem;
}

.experience,
.education {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

input,
textarea {
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  border: none;
}

.experience > textarea {
  resize: none;
  height: 4rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  padding: 2rem;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    180deg,
    rgba(238, 174, 202, 0.7) 0%,
    rgba(148, 187, 233, 0.7) 100%
  );
}

#details p,
h3,
h4 {
  font-size: 1rem;
}

#sidebar > h2 {
  font-size: 3rem;
  margin: 0;
}

.educationContainer p,
.educationContainer span,
#contact p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

#mainbar {
  display: flex;
  min-width: 60%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

#experienceList {
  margin-top: 3rem;
}

.companyDetails {
  display: flex;
  align-items: center;
}

.companyDetails h3 {
  font-size: 1.1rem;
}

.companyDetails > p {
  padding-left: 1rem;
  font-size: 1rem;
}

.companyTimeline {
  display: flex;
  flex-direction: row;
}
.companyTimeline > p {
  padding-right: 1rem;
  margin: 0;
}

@media screen and (min-width: 1600px) {
  .main {
    flex-direction: row;
    align-items: unset;
  }
  #resume {
    width: 1200px;
    margin-right: 5rem;
    position: sticky;
  }
  .cvForm {
    margin: 2rem 0rem 5rem 5rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
