@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
#root {
  background: rgb(204, 204, 204);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(211, 211, 211);
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 6rem;
  color: white;
  background: rgb(49, 49, 49);
  width: 100%;
}

h1 {
  font-size: 3rem;
}

.personalInfo {
  display: flex;
  flex-direction: column;
}

.cvForm {
  width: 30%;
  padding: 2rem;
}

textarea {
  resize: none;
  height: 3rem;
  text-align: left;
}

/* ********************

Content / Resume Preview

********************** */

#resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sideBar {
}

@media screen and (min-width: 1600px) {
  .main {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .cvForm {
    width: 100%;
    background: chocolate;
  }

  #resume {
    align-content: flex-start;
    width: 100%;
    background: coral;
  }
}
